.DS_Store
data/cifar/cifar-10-python.tar.gz
backup-orginial/save/.ipynb_checkpoints/fed_mnist_cnn_50_C0.1_iid1_loss-checkpoint.png
backup-orginial/save/.ipynb_checkpoints/fed_mnist_cnn_50_C0.1_iid1_acc-checkpoint.png
